<div class="row">
  <div class="col-md-8 col-sm-8 text-center">
    <h1 class="text-center"> Recibo de Entrega </h1>
    <br>
    <% today = @contract.delivery_receipt.created_at %>
    <h4 class="text-center"> <%= "São Paulo, #{today.day}/#{today.month}/#{today.year}" %> </h4>
    <br>
    <p class="text-justify">
      Eu, <strong><%= @contract.responsable %></strong> (nome do responsável),
      em nome da empresa <strong><%= @contract.client.company_name %></strong>
      (razão social), inscrita no CNPJ <strong><%= @contract.client.cnpj %></strong>
      declaro ter recebido os equipamentos <% @contract.tools.each do |tool| %>
      <strong><%= "#{tool.serial_number} #{tool.name}" %></strong><% end %>
      (lista dos equipamentos contendo número de série e nome) pelo período de <strong><%= @contract.term %> dias</strong> em perfeitas
      condições de uso no endereço <strong><%= @contract.delivery_address %></strong>
      (endereço de entrega) no dia <strong><%= @contract.initial_date.strftime('%d/%m/%Y') %></strong> (data da emissão)
      de acordo com o contrato <strong>2016001</strong> (número do contrato).
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="text-left">
      ______________________________
      <br>
      <strong>Assinatura do Responsável</strong>
    </p>
  </div>
</div>
