<div class="row">
  <%= simple_form_for @contract do |f| %>
  <%= f.association :client, label_method: :company_name, value_method: :id %>
  <%= f.association :tools %>
  <%= f.input :term %>
  <%= f.input :initial_date, as: :date, html5: true %>
  <%= f.input :deadline, as: :date, html5: true %>
  <%= f.input :total_price %>
  <%= f.input :delivery_address %>
  <%= f.input :responsable %>
  <%= f.button :submit, 'Emitir Contrato', class:"btn btn-primary"  %>
  <% end %>
</div>
