<div class="page-header">
  <h1>Cliente <%= @client.fantasy_name %> <%= @client.state %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Razão Social</dt>
  <dd><%= @client.company_name %></dd>
  <dt>CNPJ</dt>
  <dd><%= @client.cnpj %></dd>
  <dt>Nome Fantasia</dt>
  <dd><%= @client.fantasy_name %></dd>
  <dt>Lougradouro</dt>
  <dd><%= @client.address %></dd>
  <dt>Número</dt>
  <dd><%= @client.address_number %></dd>
  <dt>Complemento</dt>
  <dd><%= @client.aditional_address_detail %></dd>
  <dt>CEP</dt>
  <dd><%= @client.zipcode %></dd>
  <dt>Bairro</dt>
  <dd><%= @client.neighborhood %></dd>
  <dt>Cidade</dt>
  <dd><%= @client.city %></dd>
  <dt>Nome do contato</dt>
  <dd><%= @client.contact_name %></dd>
  <dt>Telefone</dt>
  <dd><%= @client.phone %></dd>
  <dt>E-mail</dt>
  <dd><%= @client.email %></dd>
</dl>
