<p>
  <%= @client.company_name %>
  <%= @client.cnpj %>
  <%= @client.address %>
  <%= @client.address_number %>
  <%= @client.aditional_address_detail %>
  <%= @client.zipcode %>
  <%= @client.neighborhood %>
  <%= @client.city %>
  <%= @client.state %>
  <%= @client.contact_name %>
  <%= @client.phone %>
  <%= @client.email %>
</p>
