<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Rent Equip</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <%= link_to "Rent Equip", root_path, {class:"navbar-brand"} %>
          </div>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Emitir Contrato", new_contract_path %>
            </li>
            <li>
              <%= link_to "Clientes", clients_path %>
            </li>
            <li>
              <%= link_to "Equipamentos", tools_path %>
            </li>
            <li>
              <%= link_to "Grupo de Ferramentas", tools_groups_path %>
            </li>
            <li>
              <%= link_to "Preços", prices_path %>
            </li>
            <li>
              <%= link_to 'Grupo de Equipamentos', tools_groups_path %>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <% if flash[:success] %>
        <div class="col-md-12 col-sm-12">
          <div class="alert alert-success alert-dismissible pull-right" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">x</span>
            </button>
            <%= flash[:success] %>
          </div>
        </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
