<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rent Equip</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <%= link_to "Rent Equip", root_path, {class:"navbar-brand"} %>
          </div>
          <ul class="nav navbar-nav">
            <li class="active">
              <%= link_to "Emitir Contrato", new_contract_path %>
            </li>
            <li>
              <%= link_to "Clientes", clients_path %>
            </li>
            <li>
              <%= link_to "Equipamentos", tools_path %>
            </li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
